.body {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    outline: 1px solid red;
}