.header {
    max-width: 880px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    display: flex;
    margin: 45px auto 36px;
}

@media screen and (max-width: 879px) {
    .header {
        max-width: 581px;
        /* width: 100%; */
    }
} 

@media screen and (max-width: 618px) {
    .header {
        max-width: 282px;
        width: 100%;
        padding-left: 27px;
        /* margin: 28px 0 38px; */
    }
} 