.places__card-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    background: #fff;
    box-sizing: border-box;
    padding: 25px 15px 31px 21px;
    width: 100%;
}